@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&family=Supermercado+One&display=swap');

body {
  margin: 0;
  overflow-y: auto;
  background-color: rgb(50, 65, 95);
}

:any-link {
  text-decoration: none;
}

.link:hover {
  color: greenyellow;
  text-shadow: 0 0 5px rgb(79, 116, 24);
}

body::-webkit-scrollbar {
  width: 10px;
  background: transparent;
  border-radius: 10px;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.6);
  border-radius: 5px;
}

body::-webkit-scrollbar-thumb {
  background: greenyellow;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb:hover {
  background: rgb(79, 116, 24);
}

.loading-container {
  background-color: rgb(77, 72, 104);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
}

.character-container {
  background-color: rgb(50, 65, 95);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* CENTERS DIV BUT HAS PROBLEMS WITH SCROLL */
.center {
  position: fixed;
  top: calc(50% - 300px);
}

.card {
  height: 300px;
  width: 80%;
  margin: 25px;
  padding: 10px;
  display: flex;
  align-items: center;
}

.card-content {
  width: 100%;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}

.inner-card-content {
  height: 100%;
  display: flex;
  justify-content: center;
}

.title-bar {
  background-color: rgb(220, 220, 220);
  box-shadow: 0 5px 10px -1px rgba(0, 0, 0, 0.5);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  height: 250px;
}

.footer {
  background-color: rgb(220, 220, 220);
  box-shadow: 0 -5px 10px -1px rgba(0, 0, 0, 0.5);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  top: auto;
  height: 250px;
}

.inner-footer-box-1 {
  display: flex;
  align-items: center;
}

.inner-footer-box-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.block-display {
  display: block;
}

.line-spacing-5 {
  line-height: 0.5;
}

.line-spacing-6 {
  line-height: 0.6;
}

.line-margin {
  margin-bottom: 10px;
}

.hr {
  margin-left: 25px;
  margin-right: 25px;
}