@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');

.loading-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    background-color: rgb(77, 72, 104);
  }